
body{
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}


header {
  font-size: 30px;
  color: #2471A3;
  font-weight: 450;
  text-align: center;
  text-shadow: 2px 2px 20px #117A65;
  letter-spacing: 10px


}

.footer-description{
  text-align: left;
  font-style: italic;
}

h2
{
  font-size: 30px;
  color: #117A65;
}

p {
  padding: 10px;
  border: 1px  solid  #117A65;


}

.scnd-text{
  color: #273746;
  vertical-align:top;
  text-shadow: none;
  letter-spacing: normal;

}



ul {
  list-style-type: none;
  margin:  5px;
  padding: 5px;
  display: flex;
}

ul li {
  margin: 20px;
}
